<h3>Created Events</h3>

<% created_events = @user.events %>
<% created_events.each do |event| %>
  <div class="user-event-container">
    <ul>
      <li class="user-event-title"><%=event.title%></li>
      <li class="user-event-date"><%=event.event-date%></li>
    </ul>

  </div>
<% end %>