<h2>User Profile</h2>
<h3><%= @user.email %></h3>

<div class="user-container">
    <%= render 'created_events' %>
    <%= render 'past_invitations' unless @user.attended_events.past_event.empty? %>
    <%= render 'future_invitations' unless @user.attended_events.future_event.empty? %>
</div>