<h1>Events</h1>
<% @events.each do |event|%>
  <div>
    <h2><%= link_to event.title, event %></h2>
    <p>
      Created By: <%= event.creator.email %>
    </p>
  </div>

 
<% end %>
<%= link_to 'New Event', new_event_path %> <br>
<%= link_to 'Your Profile', user_path(current_user)%>
